<!--https://material.angular.io/components/tabs/examples-->
<ng-container>
  <h1 align="center" *ngIf="!this.project"><br><br><br>Loading project...</h1>
  <tabs *ngIf="this.project" [rootTabs]="true">

<!--    Project-->
    <tab tabTitle="Project">
      <project-form *ngIf="this.project" [project]="this.project"></project-form>
    </tab>

<!--    Dialog-->
    <tab tabTitle="Dialog">
      <tabs>
        <tab tabTitle="New Dialog">
          <dialog-form [dialog]="this.newDialog"></dialog-form>
        </tab>
        <tab *ngFor="let dialog of dialogs" tabTitle="{{dialog.dialogId}}">
          <dialog-form [dialog]="dialog"></dialog-form>
        </tab>
      </tabs>
    </tab>

<!--    Quest-->
    <tab tabTitle="Quest">
      <tabs>
        <tab tabTitle="New Quest">
          <quest-form [quest]="this.newQuest"></quest-form>
        </tab>
        <tab *ngFor="let quest of quests" tabTitle="{{quest.questId}}">
          <quest-form (onNewQuestSaved)="onNewQuestSaved($event)" [quest]="quest"></quest-form>
        </tab>
      </tabs>
    </tab>

<!--    Script-->
    <tab tabTitle="Script">
      <tabs>
        <tab tabTitle="New Script">
          <script-form [script]="this.newScript"></script-form>
        </tab>
        <tab *ngFor="let script of scripts" tabTitle="{{script.name}}" [globalItem]="script.global">
          <script-form (onNewScriptSaved)="onNewScriptSaved($event)" [script]="script"></script-form>
        </tab>
      </tabs>
    </tab>

<!--    Cue-->
    <tab tabTitle="Cue">
      <tabs>
        <tab tabTitle="New Cue">
          <cue-form [cue]="this.newCue"></cue-form>
        </tab>
        <tab *ngFor="let cue of cues" tabTitle="{{cue.cueId}}">
          <cue-form [cue]="cue"></cue-form>
        </tab>
      </tabs>
    </tab>
  </tabs>
</ng-container>
