/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
[hidden] { display: none !important; }

.loading-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.valueNotAvailable {
  color: #ff0000;
  font-weight: bold;
}

.maxWidth-250 {
  min-width: 250px;
}

.dialog-window {
  padding: 20px;
}
